<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Send Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>SMTP Test</h1>
    <form action="#" th:action="@{/send}" th:object="${mail}" method="post">
    	<p>Host: <input type="text" th:field="*{host}" /></p>
        <p>
        <label for="port">Port:</label>
        <select th:field="*{port}">
            <option value=0></option>
            <option value=25>25</option>
            <option value=465>465</option>
            <option value=587>587</option>
            <option value=2525>2525</option>
        </select>
        </p>
        <p>
        <label for="protocol">Protocol:</label>
        <select th:field="*{protocol}">
            <option value="smtp">SMTP</option>
            <option value="smtps">SMTPS</option>
        </select>
        </p>
    	<p>STARTTLS: <input type="checkbox" th:field="*{starttls}" /></p>
        <p>Auth: <input type="checkbox" th:field="*{auth}"/></p>
    	<p>User: <input type="text" th:field="*{user}" /></p>
        <p>Password: <input type="text" th:field="*{password}" /></p>
    	<p>From: <input type="text" th:field="*{from}" /></p>
    	<p>To: <input type="text" th:field="*{to}" /></p>
        <p><input type="submit" value="Send" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>